---
layout: page
permalink: /tutorials/
title: Tutorials
---

{% for category in site.categories %}
  <h3> so, the category.categories value is {{ category.categories }} </h3>
  <h4> and the site.categories value is {{ site.categories }} </h4>
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <h5>and now, category_name value is {{ category_name }}</h5>
  {% if category_name == "tutorial" %}
    <b>and now, we're inside the if loop</b>
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
  {% endif %}
{% endfor %}
