---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <nav class="post_navigation">
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
    {% endif %}
  </nav>

  {% include disqus.html %}
</article>
